@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,700;0,800;1,300&display=swap');

:root {
    --bg-color: #161e28;
    --accent-color: #13c2d4;
}

body {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
}
  

h1, h2, h3, h4, h5, h6, p, li {
    font-family: 'Rubik',"Roboto", Arial, sans-serif !important;
}
